[user]
	name = MARCO C. FERNANDEZ
	email = marcofernandez0204@gmail.com
	signingkey = 3F5EE273F92D9A6B72E250E7F9C1C45F93F75332
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[gpg]
	program = /usr/sbin/gpg
